body {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: crimson;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-weight: 400;
    margin: 10px 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

header, main, footer {
    grid-column: span 12;
}

footer {
    background-color: #000000;
}

footer>div {
    margin: 15px;
}

section.card {
    margin: 15px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main-layout.grid-container {
    grid-template-rows: 50px 1fr 50px;
}

main.grid-container {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.d-flex.flex-end {
    justify-content: right;
}

.depth-1 {
    background-color: #121212;
}

.depth-2 {
    background-color: #232323;
}

.depth-3 {
    background-color: #2f2e2e;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group > label {
    display: block;
    margin: 5px 0;
}

.alert {
    margin: 5px 0;
}

.alert-danger {
    color: rgb(220, 55, 85);
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}