body {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: crimson;
}

h1, h2, h3 {
    color: #ffffff;
}

header, main, footer {
    grid-column: span 12;
}

footer {
    background-color: #000000;
}

footer > div {
    margin: 15px;
}

section.card {
    margin: 15px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 1fr 50px;
    min-height: 100vh;
}

.flex-container {
    display: flex;
}
.flex-container.flex-end {
    justify-content: right;
}

.depth-1 {
    background-color: #121212;
}

.depth-2 {
    background-color: #232323;
}

.depth-3 {
    background-color: #2f2e2e;
}

.form-group {
    margin-bottom: 20px;
}

.form-group > label {
    display: block;
    margin: 5px 0;
}

.alert {
    margin: 5px 0;
}

.alert-danger {
    color: rgb(220, 55, 85);
}
