main#auth {
    background-image: url('/assets/images/login-bg.jpg');
    background-size: cover;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

main#auth > section {
    width: 80%;
}

@media (min-width: 600px) {
    main#auth > section {
        width: 30%;
    }
}