nav {
    background-color: black;
    align-items: center;
    height: 100%;
    overflow-x: scroll;
}

nav .logo img {
    width: 36px;
}

nav a {
    margin: 0 1rem;
}

@media (min-width: 400px) {
    nav {
        overflow-x: hidden;
    }
}