aside {
    grid-column: span 3;
}

div#main {
    grid-column: span 9;
}

ul {
    list-style: none;
    padding: 0;
}

ul > li > a {
    padding: 15px 0 15px 15px;
    background-color: #474747;
    transition: 0.5s;
    display: block;
}

ul > li > a:hover {
    background-color: white;
}

ul > li > a.active {
    background-color: crimson;
    color: white;
}

ul > li > a + ul {
    display: none;
    padding-left: 10px;
}

ul > li > a.active + ul {
    display: block;
}